{:deps
 {jdormit/sicp-logic {:git/url "https://github.com/jdormit/sicp-logic"
                      :sha "0bb77771b18111ec8257e6ec859a18dcd15dcba6"}
  org.clojure/core.logic {:mvn/version "0.8.11"}}}
